<strong>Olá, {{ name }}</strong>,
<p>Você foi cadastrado no sistema de entregas Fast Feet. </p>
<p>Abaixo está seu ID de cadastro, para que possa acessar o sistema e suas funcionalidades.</p>
<small>Lembramos que não é necessário a digitação de senha para o acesso.</small>
<p>
  <strong>Seu ID de acesso: </strong> {{id}} <br/>

  <small>
    Fique sempre atento ao seu email.
  </small>
</p>
