<strong>Olá, {{ deliveryman }}</strong>,
<p>Houve um cadastro de entrega, confira os detalhes abaixo: </p>
<p>
  <strong>Cliente: </strong> {{recipient}} <br/>
  <strong>Email: </strong> {{ recipient_email}}
  <strong>Endereço: </strong> {{ address }} <br />
  <small>
    Você deve realizar a retirada o quanto antes.<br />
    Não se esqueça de cadastrar sua retirada ao iniciar a entrega.
  </small>
</p>
